.cards{
    max-width: 296px;
    min-width: 296px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: auto;
}
.card{
    border: 1px solid var(--lightgreen);
    
}
.cardContent{
    padding: 16px;
}
.cardImage{
    width: 296px;
    height: 289px;
}
.contentTitle{
    margin-top: 0px;
    margin-bottom: 12px;
}
.cardText{
    margin-bottom: 12px;
}